doctype html
html
  head
    meta(charset='utf-8')
    title Заголовок
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
  body
    .container.navigator
      .section.group
          .header.col.col-12
            .top-nav
                include ../button_nav.pug
    .container.description-author
      .section.group
          .col.col-6
          .author.col.col-4
              h2 Al Rayhan
              .description
                  span.top #Ui/ux Expert
                  span #Graphic Designer
              .hire-btn
                span Hire Me!
    .container.about
      .section.group
        .col.col-5
          include ../about_me.pug
        .col.col-4.author-img
          img(src='../build/img/author.png')
    .container.experience
      .section.group
        .col.col-6
          h2 Work Experience
    .container.work
      .section.group
        .col.col-5
          .ceo
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          .ui
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consequat.  
        .col.col-2
        .col.col-5
          .marketing
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .creative  
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .container.education
      .section.group
        .br-top.col.col-6
          h2 Education
    .container.work
      .section.group
        .col.col-5
          .ceo
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          .ui
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consequat.  
        .col.col-2
        .col.col-5
          .marketing
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .creative  
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container.myskills
      .section.group
        .col.col-6
          h2 My Skills
    .container.skills
      .section.group
        .col.col-4
          .pro
            span User Experience
            .range-slider
              input.range-slider__range(type='range', value='90', min='0', max='100', step='99')
              span.range-slider__value 90%
          .pro
            span User Interface
            .range-slider
              input.range-slider__range(type='range', value='98', min='0', max='100')
              span.range-slider__value 98%
          .pro
            span User Design
            .range-slider
              input.range-slider__range(type='range', value='70', min='0', max='100')
              span.range-slider__value 70%
        .col.col-4
          .pro
            span User Experience
            .range-slider
              input.range-slider__range(type='range', value='90', min='0', max='100')
              span.range-slider__value 90%
          .pro
            span User Interface
            .range-slider
              input.range-slider__range(type='range', value='80', min='0', max='100')
              span.range-slider__value 80%
          .pro
            span User Design
            .range-slider
              input.range-slider__range(type='range', value='96', min='0', max='100')
              span.range-slider__value 96%
        .col.col-4
          .pro
            span User Experience
            .range-slider
              input.range-slider__range(type='range', value='90', min='0', max='100')
              span.range-slider__value 90%
          .pro
            span User Interface
            .range-slider
              input.range-slider__range(type='range', value='80', min='0', max='100')
              span.range-slider__value 80%
          .pro
            span User Design
            .range-slider
              input.range-slider__range(type='range', value='96', min='0', max='100')
              span.range-slider__value 96%
    .container.adress
      .section.group.pdd80px
        .col.col-6
          form
            fieldset
              legend 
                p Leave a Message
                .nes
                  p
                    input(type='text', name='name', id='name', placeholder='Name*', spellcheck='false', size='20')
                  p
                    input(type='email', name='email', id='email', placeholder='Email*', size='20')
                  p
                    input(type='subject', name='subject', id='subject', placeholder='Subject*', size='20')
                .message
                  textarea(cols='40', rows='10', placeholder="Message*")
                  .hire-btn
                    span Hire Me!
        .contact.col.col-6
          .location
            img(src='../icons/icons.png')
            h4 Location
            span 324, Golden Tower, Amborkhana, Sylhet
          .email
            img(src='icons/plane.png')
            h4 Email
            span junaed@deviserweb.com
          .call
            img(src='icons/phone.png')
            h4 Toll Free Call
            span 0800 234 6578 
    .container.border
      .section.group
        .b.col.col-12
    .container.social-icons
      .section.group
        .col.col-12
          .social
            ul
              li
                img(src='icons/twitter.png')
              li
                img(src='icons/skype.png')
              li
                img(src='icons/dribbble.png')
          .copyright
            span Copyright: Junaed Ahmed, All rights reserved
    .hidden
      .menu-author
        .top-menu-author
          img(src='../build/img/author2.jpg')
        .menu-desc
          .ath-r Al Rayhan
          span.desc Ui/ux Expert
          .ul-menu-author
            ul
              li
                a Home
              li
                a About Me
              li
                a Education
              li
                a Work
              li
                a Experience
              li
                a Skills
              li
                a Portfolio
              li
                a Contact
    //if lt IE 9
      script(src='libs/html5shiv/es5-shim.min.js')
      script(src='libs/html5shiv/html5shiv.min.js')
      script(src='libs/html5shiv/html5shiv-printshiv.min.js')
      script(src='libs/respond/respond.min.js')
    script.
      var scr = {"scripts":[
      {"src" : "libs/bower_components/jquery/dist/jquery.min.js", "async" : false},
      {"src" : "libs/bower_components/bootstrap-validator/dist/validator.min.js", "async" : false},
      {"src" : "js/app.js", "async" : false}
      ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);

    script.
      function loadCSS(hf) {
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
      }
      //loadCSS("libs/animate/animate.css"); //Load Libs CSS: Animate CSS
      loadCSS("css/header.min.css");              //Header Styles (compress & paste to header after release)
      loadCSS("css/main.min.css");                //User Styles: Main
      loadCSS("css/media.min.css");               //User Styles: Media
      loadCSS("css/core.min.css"); 	 		          //User Styles: Core
      loadCSS("css/fonts.min.css"); 				      //User Styles: Fonts
      loadCSS("css/html5reset.min.css");          //User Styles: Fonts
